#Test Case variables 
{% set poe_4pair_port_list = ['5,1', '6,1', '7,1','8,1','9,1','10,1','11,1','12,1'] %}
{% set poe_4pair_port_list_tcl = "{" + poe_4pair_port_list | join(" ") + "}" %}
{% set poe_2pair_port_list = ['1,2', '2,1','2,2','3,1','3,2','4,1','4,2'] %}
{% set poe_2pair_port_list_tcl = "{" + poe_2pair_port_list | join(" ") + "}" %}
{% set psl_port_list = ['p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7', 'p8'] %}
{% set psl_port_list_tcl = "{" + psl_port_list | join(" ") + "}" %}

{% set dut_4pair_port_list = ['port9', 'port10', 'port11','port12','port13','port14','port15','port16','port17','port18','port19','port20','port21','port22','port23','port24'] %}
{% set dut_2pair_port_list = ['port2', 'port3','port4','port5','port6','port7','port8'] %}
{% set bt_class_max_power_list = [60,34.0,16.4,16.4,16.4,16.4] %}
{% set bt_class_deliver_power_list = [60,30,15.3,6.9,3.9,15.3] %}
{% set bt_class_test_list = [6,4,3,2,1,0] %}
{% set bt_tcl_execute_list = [True,True,True,True,True] %}
{% set bt_tcl_proc_list = ["psa_bt_6","psa_bt_4","psa_bt_3","psa_bt_2","psa_bt_1","psa_bt_0"] %}

{% set at_class_max_power_list = [34.0,16.4,16.4,16.4,16.4] %}
{% set at_class_deliver_power_list = [25,15.3,6.9,3.9,15.3] %}
{% set at_class_test_list = [4,3,2,1,0] %}
{% set at_tcl_execute_list = [True,True,True,True,True] %}
{% set at_tcl_proc_list = ["psa_at_4","psa_at_3","psa_at_2","psa_at_1","psa_at_0"] %}

{% set at_lldp_port_list = ['1,1'] %}
{% set at_lldp_port_list_tcl = "{" + at_lldp_port_list | join(" ") + "}" %}

DUT_list:
    - hostname: S624FFTV22000027
      serial: S624FFTV22000027
      model: 624F_FPOE
      mgmt_ip: 10.105.241.153/23
      mgmt_gw: 10.105.241.254 
      username: admin
      password: Fortinet123!
      console_ip: 10.105.241.145
      line: 2091
      pdu_1_ip: 10.105.241.95
      pdu_1_line: 17 
      login: True
    - hostname: S624FFTV22000026
      serial: S624FFTV22000026
      model: 624F_FPOE
      mgmt_ip: 10.105.241.157/23
      mgmt_gw: 10.105.241.254 
      username: admin
      password: Fortinet123!
      console_ip: 10.105.241.145 
      line: 2096
      pdu_1_ip: 10.105.241.95
      pdu_1_line: 17
      pdu_2_ip: 10.105.241.96
      pdu_2_line: 17
      login: False

Tester_list:
    - hostname: PSA3000
      platform: PSA
      type: POE
      mgmt_ip: &psa_ip_1 10.105.241.47
      pdu_ip: 10.105.241.97
      pdu_line: 17
    - hostname: PSL3434L_3
      platform: PSL
      type: POE
      mgmt_ip: &psa_ip_3 10.105.241.49
      pdu_ip: 10.105.241.146
      pdu_line: 12


Test_Case_list:
    - case_name: bt_scan_class_power
      tester: PSA3000
      sifo_ip: 10.105.241.47
      execute: False
      poe_tester: PSA3000
      poe_port_list: {{poe_4pair_port_list}}
      class_list: {{bt_class_test_list}}
      deliver_power_list: {{bt_class_deliver_power_list}}
      dut_port_list: {{dut_4pair_port_list}}
      python_verify_func: scan_get_poe_inline
      tcl_global:  puts bt_scan_class_power
      tcl_procedure_list:
      {% for tcl_name,class_power,class_name,run,d_power in bt_tcl_proc_list|jinja_zip(bt_class_max_power_list,bt_class_test_list,bt_tcl_execute_list,bt_class_deliver_power_list) %}
        - proc_name: {{tcl_name}}
          poe_class: {{class_name}}
          max_power: {{class_power}}
          execute: {{run}}
          tcl_close: False
          tcl_command_list:
            - name: disconnect
              sifo_ip: *psa_ip_1
              commands: |
               proc disconnect {} {
               set port_list {{poe_4pair_port_list_tcl}}
               foreach port $port_list {
                 puts "psa_4pair $port single"
                 psa_4pair $port single
                 puts "psa_disconnect $port"
                 psa_disconnect $port
                }
               }
            - name: {{tcl_name}}
              sifo_ip: *psa_ip_3
              commands: |
               proc {{tcl_name}} {} {
               set port_list {{psl_port_list_tcl}}
               foreach port $port_list {
                puts "psl_setup $port single"
                psl_setup $port single
                puts "power_pse $port c {{class_name}} p {{d_power}}"
                power_pse $port c {{class_name}} p {{d_power}}
               }
               }
            - name: {{tcl_name}}
              sifo_ip: *psa_ip_1
              commands: |
               proc {{tcl_name}} {} {
               set port_list {{poe_4pair_port_list_tcl}}
               foreach port $port_list {
                puts "psa_disconnect $port"
                psa_disconnect $port
                puts "psa_4pair $port single"
                psa_4pair $port single
                puts "psa_auto_port $port BT"
                psa_auto_port $port BT
                puts "power_bt $port c {{class_name}} p {{d_power}}  "
                power_bt $port c {{class_name}} p {{d_power}}
               }
               }
      {% endfor %}
    - case_name: bt_scan_class_power_traffic
      tester: PSA3000
      sifo_ip: 10.105.241.47
      execute: True
      poe_tester: PSA3000
      poe_port_list: {{poe_4pair_port_list}}
      class_list: {{bt_class_test_list}}
      deliver_power_list: {{bt_class_deliver_power_list}}
      dut_port_list: {{dut_4pair_port_list}}
      python_verify_func: scan_get_poe_inline_traffic
      tcl_global:  puts bt_scan_class_power
      tcl_procedure_list:
      {% for tcl_name,class_power,class_name,run,d_power in bt_tcl_proc_list|jinja_zip(bt_class_max_power_list,bt_class_test_list,bt_tcl_execute_list,bt_class_deliver_power_list) %}
        - proc_name: {{tcl_name}}
          poe_class: {{class_name}}
          max_power: {{class_power}}
          execute: {{run}}
          tcl_close: False
          tcl_command_list:
            - name: disconnect
              sifo_ip: *psa_ip_1
              commands: |
               proc disconnect {} {
               set port_list {{poe_4pair_port_list_tcl}}
               foreach port $port_list {
                 puts "psa_4pair $port single"
                 psa_4pair $port single
                 puts "psa_disconnect $port"
                 psa_disconnect $port
                }
               }
            - name: {{tcl_name}}
              sifo_ip: *psa_ip_1
              commands: |
               proc {{tcl_name}} {} {
               set port_list {{poe_4pair_port_list_tcl}}
               foreach port $port_list {
                puts "psa_disconnect $port"
                psa_disconnect $port
                puts "psa_4pair $port single"
                psa_4pair $port single
                puts "psa_auto_port $port BT"
                psa_auto_port $port BT
                puts "power_bt $port c {{class_name}} p {{d_power}}  "
                power_bt $port c {{class_name}} p {{d_power}}
               }
               }
            - name: {{tcl_name}}
              sifo_ip: *psa_ip_3
              commands: |
               proc {{tcl_name}} {} {
               set port_list {{psl_port_list_tcl}}
               foreach port $port_list {
                puts "psl_setup $port single"
                psl_setup $port single
                puts "power_pse $port c {{class_name}} p {{d_power}}"
                power_pse $port c {{class_name}} p {{d_power}}
               }
               }

      {% endfor %}
    - case_name: at_scan_class_power
      tester: PSA3000
      sifo_ip: 10.105.241.47
      execute: True
      poe_tester: PSA3000
      poe_port_list: {{poe_2pair_port_list}}
      class_list: {{at_class_test_list}}
      deliver_power_list: {{at_class_deliver_power_list}}
      dut_port_list: {{dut_2pair_port_list}}
      python_verify_func: scan_get_poe_inline
      tcl_global: psa_pse -grant phy -spec at -pol mdix -alt A
      tcl_procedure_list:
      {% for tcl_name,class_power,class_name,run,d_power in at_tcl_proc_list|jinja_zip(at_class_max_power_list,at_class_test_list,at_tcl_execute_list,at_class_deliver_power_list) %}
        - proc_name: {{tcl_name}}
          poe_class: {{class_name}}
          max_power: {{class_power}}
          execute: {{run}}
          sifo_ip: *psa_ip_1
          tcl_close: False
          tcl_command_list:
            - name: disconnect
              sifo_ip: *psa_ip_1
              commands: |
               proc disconnect {} {
               set port_list {{poe_2pair_port_list_tcl}}
               foreach port $port_list {
                #puts "psa_4pair $port disable"
                #psa_4pair $port disable
                puts "psa_disconnect $port"
                psa_disconnect $port
                }
               }
            - name: {{tcl_name}}
              sifo_ip: *psa_ip_1
              commands: |
               proc {{tcl_name}} {} {
               set port_list {{poe_2pair_port_list_tcl}}
               foreach port $port_list {
                #puts "psa_4pair $port disable"
                #psa_4pair $port disable
                puts "psa_disconnect $port"
                psa_disconnect $port
                puts "psa_emulate_pd $port start c {{class_name}} p {{d_power}} o 0"
                psa_emulate_pd $port start c {{class_name}} p {{d_power}} o 0
                }
               }
      {% endfor %}
        
    - case_name: at_lldp_power
      tester: PSA3000
      sifo_ip: 10.105.241.47
      execute: True
      poe_tester: PSA3000
      poe_port_list: {{poe_2pair_port_list}}
      class_list: {{at_class_test_list}}
      deliver_power_list: {{at_class_deliver_power_list}}
      dut_port_list: {{dut_2pair_port_list}}
      python_verify_func: show_lldp_trace
      tcl_global: psa_pse -grant phy+lldp -spec at -pol mdix -alt A
      tcl_procedure_list:
        - proc_name: at_lldp_trace
          poe_class: 4
          max_power: 34
          execute: True
          sifo_ip: *psa_ip_1
          tcl_close: False
          tcl_command_list:
            - name: disconnect
              sifo_ip: *psa_ip_1
              commands: |
               proc disconnect {} {
               set port_list {{at_lldp_port_list_tcl}}
               foreach port $port_list {
                #puts "psa_4pair $port disable"
                #psa_4pair $port disable
                puts "psa_disconnect $port"
                psa_disconnect $port
                }
               }
            - name: lldp_trace
              sifo_ip: *psa_ip_1
              commands: |
               proc lldp_trace {} {  
               set port_list {{at_lldp_port_list_tcl}}
               puts $port_list
               foreach port $port_list {
                 trace_lldp_pwrup $port c 4 pwr 22.2 duration 60
                 }
               }
        