{% set poe_4pair_port_list = ['5,1', '6,1', '7,1','8,1','9,1','10,1','11,1','12,1'] %}
{% set poe_4pair_port_list_tcl = "{" + poe_4pair_port_list | join(" ") + "}" %}
{% set poe_2pair_port_list = ['1,1', '1,2', '2,1','2,2','3,1','3,2','4,1','4,2'] %}
{% set dut_2pair_port_list = ['port1', 'port2', 'port3','port4','port5','port6','port7','port8'] %}
{% set dut_4pair_port_list = ['port9', 'port10', 'port11','port12','port13','port14','port15','port16'] %}
{% set class_max_power = [60,34.0,16.4,16.4,16.4,16.4] %}
{% set class_test_list = [6,4,3,2,1,0] %}
{% set tcl_execute_list = [True,False,False,False,False,False] %}
{% set tcl_proc_list = ["psa_bt_6","psa_bt_4","psa_bt_3","psa_bt_2","psa_bt_1","psa_bt_0"] %}



DUT_list:
    - hostname: S624FFTV22000027
      serial: S624FFTV22000027
      model: 624F_FPOE
      mgmt_ip: 10.105.241.153/23
      mgmt_gw: 10.105.241.254 
      username: admin
      password: Fortinet123!
      console_ip: 10.105.241.145
      line: 2091
      pdu_1_ip: 10.105.241.95
      pdu_1_line: 17 
      login: True
    - hostname: S624FFTV22000026
      serial: S624FFTV22000026
      model: 624F_FPOE
      mgmt_ip: 10.105.241.157/23
      mgmt_gw: 10.105.241.254 
      username: admin
      password: Fortinet123!
      console_ip: 10.105.241.145 
      line: 2096
      pdu_1_ip: 10.105.241.95
      pdu_1_line: 17
      pdu_2_ip: 10.105.241.96
      pdu_2_line: 17
      login: False

Tester_list:
    - hostname: PSA3000
      platform: PSA
      type: POE
      mgmt_ip: 10.105.241.47
      pdu_ip: 10.105.241.97
      pdu_line: 17


Test_Case_list:
    - case_name: bt_scan_class_power
      tester: PSA3000
      execute: True
      poe_tester: PSA3000
      poe_port_list: {{poe_4pair_port_list}}
      class_list: {{class_test_list}}
      dut_port_list: {{dut_4pair_port_list}}
      tcl_procedure_list:
      {% for tcl_name,class_power,class_name,run in tcl_proc_list|jinja_zip(class_max_power,class_test_list,tcl_execute_list) %}
        - proc_name: {{tcl_name}}
          poe_class: {{class_name}}
          max_power: {{class_power}}
          execute: {{run}}
          sifo_ip: 10.105.241.47
          tcl_close: False
          disconnect_commands: |
            proc disconnect {} {
             set port_list {{poe_4pair_port_list_tcl}}
              foreach port $port_list {
                puts "psa_disconnect $port"
                psa_disconnect $port
              }
             }
          commands: |
            proc {{tcl_name}} {} {
              set port_list {{poe_4pair_port_list_tcl}}
              foreach port $port_list {
                puts "psa_disconnect $port"
                psa_disconnect $port
                puts "psa_4pair $port single"
                psa_4pair $port single
                puts "psa_auto_port $port BT"
                psa_auto_port $port BT
                puts "power_bt $port c {{class_name}} p {{class_power}}  "
                power_bt $port c {{class_name}} p {{class_power}}
              }
            }
      {% endfor %}
        